/*icon animation: https://css-tricks.com/svg-line-animation-works/*/

/* Main Logo -----------------------------*/

.top-content
{
	-webkit-animation: fadeIn 0.5s linear 3.3s forwards;
	-moz-animation: fadeIn 0.5s linear 3.3s forwards;
	animation: fadeIn 0.5s linear 3.3s forwards;
	
	cursor:default;
}

.top-content > .nav-bar > a
{
	pointer-events:none;
	cursor:default;

	-webkit-animation: changeCursor 0.5s linear 2.7s forwards;
	-moz-animation: changeCursor 0.5s linear 2.7s forwards;
	animation: changeCursor 0.5s linear 2.7s forwards;
}

@keyframes fadeIn
{
	0%
	{
		opacity:0;
	}

	100%
	{
		opacity:1;
	}
}

/*ref: https://css-tricks.com/pointer-events-current-nav/*/

.icon
{
	-webkit-animation: expand 3.5s ease-in-out;
	-moz-animation: expand 3.5s ease-in-out;
	animation: expand 3.5s ease-in-out;
	
	-webkit-transition: transform 1.5s ease-in-out;
	-moz-transition: transform 1.5s ease-in-out;
	transition: transform 1.5s ease-in-out;


}

.icon:hover
{
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
	
	-webkit-transition: transform 1.5s ease-in-out;
	-moz-transition: transform 1.5s ease-in-out;
	transition: transform 1.5s ease-in-out;
}

@keyframes expand 
{
	0% 
	{
		transform: scale(1);
	}

	90% 
	{
		transform: scale(0.9);
	}

	95% 
	{
		transform: scale(1.25);
	}

	98% 
	{
		transform: scale(0.75);
	}

	100%
	{
		transform: scale(1);
	}
}

@keyframes changeCursor
{
	0%
	{
		pointer-events:none;
		cursor:default;
	}

	100%
	{
		pointer-events:auto;
		cursor:pointer;
	}
}

@keyframes colourChange
{
	0%
	{
		stroke:#404DA0;
	}

	100%
	{
		stroke:#000000;
	}
}

.triangle
{
  stroke: #404DA0;
  stroke-dasharray: 920;
  stroke-dashoffset: 920;
  -webkit-animation: drawTriangle 1.5s ease-in-out forwards,
  			 colourChange 1s linear 2.75s forwards;
  -moz-animation: drawTriangle 1.5s ease-in-out forwards,
  			 colourChange 1s linear 2.75s forwards;
  animation: drawTriangle 1.5s ease-in-out forwards,
  			 colourChange 1s linear 2.75s forwards;
}

@keyframes drawTriangle 
{
  from 
  {
    stroke-dashoffset: 920;
  }

  to
  {
    stroke-dashoffset: 0;
  }
}

.w-left
{
	stroke-dasharray: 145;
	stroke-dashoffset: 145;
	-webkit-animation: draw-W 0.25s ease-in-out 1.5s forwards,
  			   colourChange 1s linear 2.75s forwards;
  	-moz-animation: draw-W 0.25s ease-in-out 1.5s forwards,
  			   colourChange 1s linear 2.75s forwards;
  	animation: draw-W 0.25s ease-in-out 1.5s forwards,
  			   colourChange 1s linear 2.75s forwards;
}

.w-right
{
	stroke-dasharray: 145;
	stroke-dashoffset: 145;
	animation: draw-W 0.25s ease-in-out 1.75s forwards,
  			   colourChange 1s linear 2.75s forwards;
}

@keyframes draw-W
{
	from
	{
		stroke-dashoffset: 145;
	}

	to
	{
		stroke-dashoffset: 0;
	}
}

.t-line
{
	stroke-dasharray: 255;
	stroke-dashoffset: 255;
	animation: draw-T 0.25s ease-in-out 2s forwards,
  			   colourChange 1s linear 2.75s forwards;
}

@keyframes draw-T
{
	from
	{
		stroke-dashoffset: 255;
	}

	to
	{
		stroke-dashoffset: 0;
	}
}

.y-left
{
	stroke-dasharray: 95;
	stroke-dashoffset: 95;
	animation: draw-Y 0.25s ease-in-out 2.25s forwards,
  			   colourChange 1s linear 2.75s forwards;
}

.y-right
{
	stroke-dasharray: 95;
	stroke-dashoffset: 95;
	animation: draw-Y 0.25s ease-in-out 2.5s forwards,
  			   colourChange 1s linear 2.75s forwards;
}

@keyframes draw-Y
{
	from
	{
		stroke-dashoffset: 95;
	}

	to
	{
		stroke-dashoffset: 0;
	}
}


